@keyframes load {
  0%,
  15% {
    opacity: 0;
    transform: translateY(-97px);
  }
  30%,
  70% {
    opacity: 1;
    transform: translateY(0);
  }
  85%,
  to {
    opacity: 0;
    transform: translateY(97px);
  }
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.loading-wrapper.open {
  display: flex !important;
}
.loading-wrapper {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 1400;
  align-items: center;
  justify-content: center;
  opacity: 0.75;
  -webkit-tap-highlight-color: #0000;
  position: fixed;
  background: #fff;
}
.loader {
  height: 58px;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
  width: 58px;
}
.loader span {
  background: #0bf;
  display: block;
  height: 12px;
  opacity: 0;
  position: absolute;
  width: 12px;
  animation: load 4.6s ease-in-out infinite;
}
.loader span.block1 {
  animation-delay: 1.06s;
  left: 0;
  top: 0;
}
.loader span.block2 {
  animation-delay: 0.97s;
  left: 16px;
  top: 0;
}
.loader span.block3 {
  animation-delay: 0.87s;
  left: 31px;
  top: 0;
}
.loader span.block4 {
  animation-delay: 0.78s;
  left: 47px;
  top: 0;
}
.loader span.block5 {
  animation-delay: 0.69s;
  left: 0;
  top: 16px;
}
.loader span.block6 {
  animation-delay: 0.6s;
  left: 16px;
  top: 16px;
}
.loader span.block7 {
  animation-delay: 0.51s;
  left: 31px;
  top: 16px;
}
.loader span.block8 {
  animation-delay: 0.41s;
  left: 47px;
  top: 16px;
}
.loader span.block9 {
  animation-delay: 0.32s;
  left: 0;
  top: 31px;
}
.loader span.block10 {
  animation-delay: 0.23s;
  left: 16px;
  top: 31px;
}
.loader span.block11 {
  animation-delay: 0.14s;
  left: 31px;
  top: 31px;
}
.loader span.block12 {
  animation-delay: 0.05s;
  left: 47px;
  top: 31px;
}
.loader span.block13 {
  animation-delay: -0.05s;
  left: 0;
  top: 47px;
}
.loader span.block14 {
  animation-delay: -0.14s;
  left: 16px;
  top: 47px;
}
.loader span.block15 {
  animation-delay: -0.23s;
  left: 31px;
  top: 47px;
}
.loader span.block16 {
  animation-delay: -0.32s;
  left: 47px;
  top: 47px;
}
#imar {
  display: none;
}
#igbh {
  min-height: calc(100vh - 100px);
}
#i3g6i {
  max-width: 1024px;
  padding: 10px 0;
  display: block;
}
.iiyii_global {
  display: inline-block;
  width: 100%;
  min-height: 200px;
}
.i3g6i_global,
.iz3g_global {
  display: inline-flex;
  border-radius: 0;
  width: 100%;
  align-items: stretch;
}
.i3g6i_global {
  max-width: 100%;
  height: auto;
  margin: auto;
}
.iz3g_global {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}
#i72g4 {
  background-color: #fff;
  max-width: 100%;
  border-bottom: 1px solid #ddd;
}
#ivg06 {
  max-width: 970px;
  padding: 30px 15px;
  color: #666;
  font-family: Raleway, Helvetica, Arial, sans-serif;
}
.i6adl_global {
  display: inline-block;
  width: 100%;
  min-height: 200px;
}
.ismwo_global,
.ivg06_global {
  display: inline-flex;
  border-radius: 0;
  width: 100%;
  align-items: stretch;
}
.ivg06_global {
  max-width: 100%;
  height: auto;
  margin: auto;
}
.ismwo_global {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}
#i5hhw,
#iy7zi {
  display: block;
  margin: 0 auto;
}
#i5hhw {
  min-height: auto;
}
#iy7zi {
  color: #000;
  max-width: 215px;
}
#ihqka {
  padding: 0;
  margin: 0 0 15px;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
}
#i6adl {
  line-height: 1.467em;
}
#imc0m {
  padding: 0;
  margin: 0 0 10px;
  font-size: 15px;
  font-weight: 700;
}
#i2wiw {
  padding: 0;
  margin: 0 0 15px;
  line-height: 1.467em;
}
#iygy7 {
  padding: 0;
  margin: 0 0 10px;
  font-size: 15px;
  font-weight: 700;
}
#iag7g,
#iah4v,
#ifsxh,
#iptey {
  padding: 0;
  margin: 0 0 15px;
  line-height: 1.467em;
}
#imlok {
  padding: 0;
  margin: 0 0 10px;
  font-size: 15px;
  font-weight: 700;
}
#i403z,
#ij981,
#ixuau,
#iyq1c {
  padding: 0;
  margin: 0 0 15px;
}
#i8u4x {
  margin: 0 0 10px;
  font-weight: 700;
}
#i8u4x,
#ip1j7 {
  padding: 0;
  font-size: 15px;
}
#ip1j7,
#iz8mv {
  margin: 0 0 15px;
}
#ii75j {
  padding: 0;
  margin: 0 0 10px;
  font-size: 15px;
  font-weight: 700;
}
#i7n5n,
#i7p9q,
#iopgr,
#ip0dl,
#ipc2z {
  padding: 0;
  margin: 0 0 15px;
}
#ip0dl {
  margin: 0 0 10px;
  font-weight: 700;
  font-size: 15px;
}
#icjem,
#igtv6k {
  padding: 0;
  margin: 0 0 15px;
}
#igtv6k {
  margin: 0 0 10px;
  font-weight: 700;
  font-size: 15px;
}
#i965fq,
#ihynf8,
#iunafr {
  padding: 0;
  margin: 0 0 15px;
}
#i965fq {
  margin: 0 0 10px;
  font-weight: 700;
  font-size: 15px;
}
#i2bcdd,
#i9s3ih,
#ikwa9h {
  padding: 0;
  margin: 0 0 15px;
}
#ikwa9h {
  margin: 0 0 10px;
  font-size: 15px;
  font-weight: 700;
}
#i0zxoi,
#il68h8,
#iyidx6 {
  padding: 0;
  margin: 0 0 15px;
}
#il68h8 {
  margin: 0 0 10px;
  font-size: 15px;
  font-weight: 700;
}
#isxlss,
#ixiixa {
  padding: 0;
  margin: 0 0 15px;
}
#isxlss {
  margin: 0 0 10px;
  font-weight: 700;
  font-size: 15px;
}
#iku2qs,
#irc1xi,
#ivput4,
#iy36ih {
  padding: 0;
  margin: 0 0 15px;
}
#iku2qs {
  margin: 0 0 10px;
  font-weight: 700;
  font-size: 15px;
}
#ipy2x6 {
  padding: 0;
  margin: 0 0 15px;
}
.i8h5no_global .DMCA_Logo {
  text-align: center;
  padding: 10px;
}
#i2vnqp,
#ii7e5p,
#ipqu7l,
#is9r87 {
  padding: 0 0 0 40px;
  margin: 0 0 15px;
  line-height: 1.467em;
}
#ii7e5p,
#ipqu7l,
#is9r87 {
  padding: 0;
}
#is9r87 {
  padding: 0 0 0 40px;
}
#i74tai,
#i829hs,
#ibaztq,
#ihqdhm,
#ii3s2o,
#ikn2om,
#il145d,
#inhjxt,
#inpq7z,
#iooqyt,
#isy5ah,
#iv2nne,
#izgacp {
  padding: 0;
  margin: 0 0 15px;
}
#icf5kw,
#ieoq3h,
#ifkwft,
#im6h1s {
  color: #1b60d6;
  text-decoration: none;
}
#icf5kw:hover,
#ieoq3h:hover,
#ifkwft:hover,
#im6h1s:hover {
  text-decoration: underline;
}
.iu3xp2_global .ctrwow_tframe {
  display: inline-block;
}
.iu3xp2_global .ctrwow_tframe .ctrwow_tframe_title img {
  background-color: #fff;
}
.iu3xp2_global
  .ctrwow_tframe
  .ctrwow_tframe_title
  .ctrwow_tframe_title_wrapper {
  height: 50px;
}
.iu3xp2_global
  .ctrwow_tframe
  .ctrwow_tframe_title
  .ctrwow_tframe_title_wrapper
  p {
  font-weight: 400;
}
#ctr_tframe {
  width: 0;
  height: 0;
}
#ioc84g {
  text-align: center;
  padding: 10px;
  display: block;
}
#irkv73 {
  padding: 30px 15px;
  justify-content: center;
  align-items: center;
}
#i3a6d3,
#inteuj {
  text-align: center;
}
#inteuj {
  font-size: 13px;
  font-family: Raleway, Helvetica, Arial, sans-serif;
  color: #9b9b9b;
  margin: 0 0 10px;
}
#i8hd8g {
  display: inline-block;
  padding: 5px;
  background-color: #505050;
  border-radius: 50% 50% 50% 50%;
  margin: 0 8px;
  width: 30px;
  height: 30px;
}
#i6jqrv {
  width: 100%;
}
#ii84ag,
#imf8xy {
  display: inline-block;
  padding: 5px;
  background-color: #505050;
  border-radius: 50% 50% 50% 50%;
  margin: 0 8px;
  width: 30px;
  height: 30px;
}
#i99i9u {
  text-align: center;
  margin: 20px 0;
}
#i3dp6p,
#i3nu38,
#i529w9,
#ia5ge6,
#ieyfmy,
#ijuhd4,
#io5wxs,
#isnzlq,
#iyr1zr {
  margin: 0;
  font-size: 13px;
  font-family: Raleway, Helvetica, Arial, sans-serif;
  color: #9b9b9b;
}
#i3dp6p,
#i3nu38,
#i529w9,
#ijuhd4,
#io5wxs {
  text-decoration: none;
  display: inline-block;
}
#i3dp6p:hover,
#i3nu38:hover,
#i529w9:hover,
#ijuhd4:hover,
#io5wxs:hover {
  display: inline-block;
  text-decoration: underline;
}
#ia5ge6,
#ieyfmy,
#isnzlq,
#iyr1zr {
  padding: 0 5px;
  display: inline;
}
@media (max-width: 767px) {
  #i2vnqp,
  #is9r87 {
    padding: 0 0 0 20px;
  }
}
